<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- Heroku config -->
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://us-cdbr-iron-east-02.cleardb.net/heroku_a986a0c0bbeefbc?reconnect=true</property>
		<property name="hibernate.hikari.dataSource.user">baa8dbaf38d26d</property>
		<property name="hibernate.hikari.dataSource.password">1775ae61</property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
		
		
		<!-- Localhost config 
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/OREGONASKDB</property>
		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password"></property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
		
		
		<mapping class="org.oregonask.entities.School"></mapping>
		<mapping class="org.oregonask.entities.Sponsor"></mapping>
		<mapping class="org.oregonask.entities.SchoolInfo"></mapping>
		<mapping class="org.oregonask.entities.Nutrition"></mapping>
		<mapping class="org.oregonask.entities.NutritionInfo"></mapping>
		<mapping class="org.oregonask.entities.Summerfood"></mapping>
		<mapping class="org.oregonask.entities.SummerfoodInfo"></mapping>
		<mapping class="org.oregonask.entities.Program"></mapping>
		<mapping class="org.oregonask.entities.ProgramInfo"></mapping>
		-->
		<mapping class="org.oregonask.entities.User"></mapping>
		
		
		
	</session-factory>
</hibernate-configuration>